<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Phoenix-hipster-stack</title>
  </head>

  <body>
    <div id='root'></div>
    <%= if Mix.env == :dev do %>
      <script src='http://localhost:4001/index.bundle.js'></script>
    <% else %>
      <script src="<%= static_path(@conn, "/js/index.bundle.js") %>"></script>
    <% end %>
  </body>
</html>
